*{
    margin: 0;
    padding: 0;

}
.header{
  padding: 20px;
  width: 75%;
  text-align: left;
  background: linear-gradient(45deg,  rgba(13, 231, 42, 0.753),#ffffffff);
  color: black;
  font-size: 110%;
}
body {
    height: 1vh;
    background-image: url(flora.png);
    background-size: cover;
}
.full_project {
    margin: 10% 0 0 0%;
    font-family: Arial, sans-serif;
}
.title {
    font-size: 110%;
    width: 75%;
    padding: 2%;
    text-align: center;
    border: 3px solid rgb(26, 196, 48); 
    border-radius: 10px; 
    margin: 3%;
    background-color: rgb(63, 233, 86);
    box-shadow: 10px 5px 5px rgb(63, 233, 86);
    -webkit-box-shadow: 0px 0px 50px rgb(63, 233, 86);
}
.title:hover {
    transform: scale(1.01);
    transition: all 500ms ease;
}



.first_lr{
    margin: 5% 0 5% 5%;
    display: none;
}
.ekz {
    margin: 5% 0 5% 5%;
    display: none;
}
.second_lr {
    margin: 5% 0 5% 5%;
    display: none;
}
.third_lr{
    margin: 5% 0 5% 5%;
    display: none;
}
.task {
    margin: 5% 0 5% 5%;
    display: none;
}
h5{
    margin-left: -15%;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}
a{
  color: black;
  text-decoration: none;
  margin-left:5%;
  padding: 0.4%;
  border: 2px solid rgb(26, 196, 48); 
  border-radius: 10px; 
  margin: 3%;
  background-color: rgba(63, 233, 86, 0.425);
  box-shadow: 10px 5px 5px rgb(63, 233, 86);
  -webkit-box-shadow: 0px 0px 7px rgb(63, 233, 86);
}
a:hover {
    color: black;
    text-decoration: none;
    margin-left:5%;
    padding: 1.2% 1.05% 1.2% 1.05%;
    border: 2px solid rgb(26, 196, 48); 
    border-radius: 10px; 
    margin: 3%;
    background-color: rgba(63, 233, 86, 0.425);
    box-shadow: 10px 5px 5px rgb(63, 233, 86);
    -webkit-box-shadow: 0px 0px 7px rgb(63, 233, 86);
    font-size: 1.01em;
    transform: scale(2);
    transition: all 500ms ease;
}
.second_lr a{
  color: black;
  text-decoration: none;
  margin-left:5%;
  padding: 0.4%;
  border: 2px solid rgb(26, 196, 48); 
  border-radius: 10px; 
  margin: 3%;
  background-color: rgba(63, 233, 86, 0.425);
  box-shadow: 10px 5px 5px rgb(63, 233, 86);
  -webkit-box-shadow: 0px 0px 7px rgb(63, 233, 86);
}
.ekz a{
  color: black;
  text-decoration: none;
  margin-left:5%;
  padding: 0.4%;
  border: 2px solid rgb(26, 196, 48); 
  border-radius: 10px; 
  margin: 3%;
  background-color: rgba(63, 233, 86, 0.425);
  box-shadow: 10px 5px 5px rgb(63, 233, 86);
  -webkit-box-shadow: 0px 0px 7px rgb(63, 233, 86);
}
.second_lr a:hover{
    color: black;
    text-decoration: none;
    margin-left:5%;
    padding: 1.2% 1.05% 1.2% 1.05%;
    border: 2px solid rgb(26, 196, 48); 
    border-radius: 10px; 
    margin: 3%;
    background-color: rgba(63, 233, 86, 0.425);
    box-shadow: 10px 5px 5px rgb(63, 233, 86);
    -webkit-box-shadow: 0px 0px 7px rgb(63, 233, 86);
    font-size: 1.01em;
    transform: scale(2);
    transition: all 500ms ease;
}
.ekz a:hover{
  color: black;
    text-decoration: none;
    margin-left:5%;
    padding: 1.2% 1.05% 1.2% 1.05%;
    border: 2px solid rgb(26, 196, 48); 
    border-radius: 10px; 
    margin: 3%;
    background-color: rgba(63, 233, 86, 0.425);
    box-shadow: 10px 5px 5px rgb(63, 233, 86);
    -webkit-box-shadow: 0px 0px 7px rgb(63, 233, 86);
    font-size: 1.01em;
    transform: scale(2);
    transition: all 500ms ease;
}